$color-white: #ffffff;
$color-light: #f5f5f5;
$color-gray: #cfcfcf;
$color-blue: #469ae3;
$color-pink: #f39696;
$color-pink-dark: #d57575;
$shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.2);

$ff-roboto: 'Roboto', sans-serif;

$fs-14: 0.875rem;
$fs-16: 1rem;
$fs-26: 1.625rem;
