.articles-list-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-items: center;
  gap: 20px;
  margin: 20px 0;
}

.search {
  display: flex;

  .search-button {
    width: 100px;
    margin-left: 15px;
  }
}
